.footer{
	padding: 5%;
}
.footer .wxy-footer img{
	display: block;
}
.wxy-footer .title-info{
	margin: 0;
	line-height: 30px;
}
.footer b{
	font-family: "futura-light";
	font-size: 14px;
	font-weight: lighter;
	color: #777777;
	display: block;
	text-align: left;
	line-height: 90px;
	letter-spacing: 2px;
}

.sicon i{
	font-size: 16px;
	color:#212121;
	background-color: #fff;
	padding: 15px;
}
.footer .rights{
	margin-top: 50px;
}



.nonewidth{
	width: 0;
}



.black-noborder-shadow{
	background: #111111;
	border:none;
	box-shadow: none;
}

.footer-container img {
    width: 140px;
    margin-top: 30px;
    margin-left: 0;
    margin-bottom: 15px;
}
.footer-container .footer-links a{
    color: white;
    display: block;
    text-transform: uppercase;
}
.footer-container .footer-links a{
    /*font-family: "futura-bold";*/
    text-transform: uppercase;
    line-height: 50px;
    font-size: 14px;
    color: white;
    font-weight: 800;
    text-align: left;
    /*color: #777777;*/
}
.footer-container .footer-links a:hover{
    color: lightgray;
}

