.head-bg{
	background-image: url(../img/graphisme_m9nago.png);
}
.example-1{
	background-image: url(../img/RomanKouder-cover.png)
}
.example-2{
	background-image: url(../img/WWF_avion.jpg)
}
.example-3{
	background-image: url(../img/ODIN_COUV-min.jpg)
}
.example-4{
	background-image: url(../img/shot-ux-recommendation.png)
}
