.head-bg{
	background-image: url(../img/aedle-brand_ubmckf.png);
}
.example-1{
	background-image: url(../img/ICONE_POPO.gif)
}
.example-2{
	background-image: url(../img/AurorePouvreau-Portfolio3.jpg)
}
.example-3{
	background-image: url(../img/impossible_font_3-2.png)
}
.example-4{
	background-image: url(../img/Capture_d’écran_2015-12-24_à_14.52.23.png)
}
