.head-bg{
	background-image: url(../img/mise-en-page_ye3z18.jpg);
}
.example-1{
	background-image: url(../img/mockup2.jpg)
}
.example-2{
	background-image: url(../img/COVER.jpg)
}
.example-3{
	background-image: url(../img/Capture_d’écran_2015-12-24_à_14.53.48.png)
}
.example-4{
	background-image: url(../img/Capture_d’écran_2015-12-24_à_14.52.23.png)
}
