.head-bg{
	background-image: url(../img/photographie_y2ue5v.jpg);
}
.example-1{
	background-image: url(../img/tumblr_nzrrhnrL7m1uz57ppo1_1280.png)
}
.example-2{
	background-image: url(../img/Portrait_woman_cover.png)
}