.head-bg{
	background-image: url(../img/video_j7dbf8.gif);
}
.example-1{
	background-image: url(../img/streetlib_ubdgue.png)
}
.example-2{
	background-image: url(../img/rezin_fx5p0y.png)
}
.example-3{
	background-image: url(../img/nvoi-cover-krawd.jpg)
}
.example-4{
	background-image: url(../img/libellule.png)
}

